<mat-card class="form-container">
    <h2>Person Address Form</h2>
    <form [formGroup]="personForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width">
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phone" required>
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" required>
      </mat-form-field>
  
    
  
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="isSubmitting">Add</button>
        <button mat-raised-button color="warn" type="button" (click)="resetForm()">Reset</button>
      </div>
    </form>
  </mat-card>
  

  